{% extends 'base.html' %} <!-- inherit base.html-->


{% block content %}
<div style="margin-left:25%;padding:1px 16px">
    <center><h1>Add Luggage</h1></center>

</div>

<div class="addluggageDIV" style="margin-left:25%;padding:1px 16px;" >
    <form action="addLuggage" method="POST">
        {% csrf_token %} <!--to be able to use POST instead of GET-->
        
        Luggage Description: <br>
        <input type="text" name="Description" placeholder="Enter Luggage Description Ex. color, size..."><br>
        <br>

        Current Airport: <br>
        <input type="text" name="originAirport" placeholder="Enter Airport name" required><br>
        <br>
      
        Destination Airport: <br>
        <input type="text" name="desAirport" placeholder="Enter Airport Destination name" required><br>
        <br>

        Transit Airport: <br>
        <input type="text" name="transitAirport" placeholder="Enter Airport Transit name"><br>
        <br>

        <input type = "submit">

    </form>
</div>

<!--MAYBE ADD a back to HOME PAGE Search-->

{% endblock %}