{% extends 'home.html' %} <!-- inherit home.html-->


{% block content %}

<div class="d-flex justify-content-center container">
    <form action="/createLuggage" method="POST">
        {% csrf_token %} <!--to be able to use POST instead of GET-->

        <h2 style="margin-top:10px;margin-bottom:15px;">Add Luggage Information</h2>
       
        <div class="row">
            <div>
                <div class="form-group">
                    <label for="description">Luggage Description:</label>
                    <input type="text" class="form-control" placeholder="Enter Luggage Description Ex. color, size..." id="description" name="description" required> 
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="origin_airport">Origin Airport:</label>
                    <input type="text" class="form-control" placeholder="Enter Airport Name" id="origin_airport" name="origin_airport" required> 
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="destination_airport">Destination Airport:</label>
                    <input type="text" class="form-control" placeholder="Enter Airport Name" id="destination_airport" name="destination_airport" required>
                </div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- jQuery !-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"> </script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"> </script>

<script>
    $(function () {
        $("#current_airport").autocomplete({
            source: '{% url 'autocomplete' %}',
            minLength: 2
        });
    });
    {% comment %} $(function () {
        $("#transit_airport").autocomplete({
            source: '{% url 'autocomplete' %}',
            minLength: 2
        });
    }); {% endcomment %}
        $(function () {
        $("#destination_airport").autocomplete({
            source: '{% url 'autocomplete' %}',
            minLength: 2
        });
    });
</script>
<!--MAYBE ADD a back to HOME PAGE Search-->

{% endblock %}