<!--this page for adding Luggage -->

 {% extends 'base.html' %} <!-- inherit base.html-->

 {% block content %}

 <center><h1>New Luggage added to database.</h1></center>

 <div class="addluggageDIV">
     <b>Luggage Tag ID : </b> {{Luggage_Object.tag_id}} <br> <!-- this is dynamic data being sent from search() in "views.py"-->
     <br>
     <b>Luggage Description : </b> {{Luggage_Object.description}} <br>
     <br>
     <b> Date : </b> {{Luggage_Object.time_stamp}} <br>
 </div>

 {% endblock %}