{% extends 'base.html' %} <!-- inherit base.html-->

<html>
<head>
    <!--NOTE: Style is inherited from base.html-->
    <style>
    </style>
</head>
<body>

<!--This will display the block content and using the style from base.html-->
{% block content %}

<!-- when user clicks on submit it will look for and execute the "search" function which is in file urls to map the "search"-->
<!-- method = POST means sending data via POST instead of GET more secure so data won't show on the http address bar-->
<form action="search" method='POST'>
    {% csrf_token %} <!--to be able to use POST instead of GET-->
    <div style="margin-left:25%;padding:1px 16px;height:200px;">
    <!--user input luggage Tag ID with submit button-->
      <center>
        <input type="text" name="LuggageTagID" placeholder="Enter Luggage Tag ID" >
        <input type = "submit">
      </center>
    </div>


</form>

{% endblock %}

</body>
</html>