{% extends 'home.html' %} <!-- inherit home.html-->
{% load static %} <!--Need to load static files to access images for img-->

{% block content %}
<div style="margin-left:25%;padding:1px 16px;">
<center><h1>Login</h1></center>
</div>

<form action="login" method="POST">
    {% csrf_token %} <!--to be able to use POST instead of GET-->

    <div class="imgcontainer" style="margin-left:25%;padding:1px 16px;">
        <img class ="avatar" src="{% static 'images/Usericon.png' %}" /> 
    </div>
  
    <div class="container" style="margin-left:25%;padding:1px 16px;">
      <b>Username : </b>
      <input type="text" placeholder="Enter Username" name="Username" required> <br>
  
      <b>Password : </b>
      <input type="password" placeholder="Enter Password" name="psw" required> <br>
          
      <button class = "button buttonSignIn" type="submit">Login</button>
    </div>
  </form>

{% endblock %}