{% extends 'base.html' %} <!-- inherit base.html-->
{% load static %} <!--Need to load static files to access images for img-->

{% block content %}

<center><h1>Login</h1></center>

<form action="login" method="POST">
    {% csrf_token %} <!--to be able to use POST instead of GET-->

    <div class="imgcontainer">
        <img class ="avatar" src="{% static 'images/Usericon.png' %}" /> 
    </div>
  
    <div class="container">
      <b>Username : </b>
      <input type="text" placeholder="Enter Username" name="Username" required> <br>
  
      <b>Password : </b>
      <input type="password" placeholder="Enter Password" name="psw" required> <br>
          
      <button class = "button buttonSignIn" type="submit">Login</button>
    </div>
  </form>

{% endblock %}