<!--this page for adding Luggage -->
<style>
table, th, td {
  border: 1px solid black;
  padding: 1px;
}
</style>
 {% comment %} {% extends 'base.html' %} <!-- inherit base.html--> {% endcomment %}

{% block content %}

<div class="addluggageDIV">
    <form action="create" method="POST">
        {% csrf_token %} <!--to be able to use POST instead of GET-->

        {% comment %} Timestamp: <br> {% endcomment %}
        {% comment %} <input type="date" name="timestamp" placeholder="Enter Timestamp" ><br> {% endcomment %}
        {% comment %} <br> {% endcomment %}
        
        {% comment %} Luggage Memo: <br>
        <input type="text" name="memo" placeholder="Enter Luggage Description Ex. color, size, weight, brand..."><br>
        <br> {% endcomment %}

        Person/Department Name: <br>
        <input type="text" name="name" placeholder="Enter position or name or department"><br>
        <br>

        {% comment %} Current Ariport: <br>
        <input type="text" name="origin_airport" placeholder="Enter Ariport name"><br>
        <br>

        Destination Ariport: <br>
        <input type="text" name="destination_airport" placeholder="Enter Ariport Destination name"><br>
        <br> {% endcomment %}

        <input type = "submit">

    </form>
</div>


<table>
  <tr>
    <th>ID</th>
    {% comment %} <th>timestamp</th> {% endcomment %}
    {% comment %} <th>origin_airport</th> {% endcomment %}
    {% comment %} <th>destination_airport</th> {% endcomment %}
    <th>name</th>
    <th>memo</th>
    {% comment %} <th>digital_signature</th> {% endcomment %}
    {% comment %} <th>flagged</th> {% endcomment %}
  </tr>
  {% for l in luggage %}
  <tr>
        <th>{{ l.tag_id }}</th>
        {% comment %} <th>{{ l.timestamp }}</th> {% endcomment %}
        {% comment %} <th>{{ l.origin_airport }}</th> {% endcomment %}
        {% comment %} <th>{{ l.destination_airport }}</th> {% endcomment %}
        <th>{{ l.name }}</th>
        <th>{{ l.transit }}</th>
        {% comment %} <th>{{ l.digital_signature }}</th> {% endcomment %}
        {% comment %} <th>{{ l.flagged }}</th> {% endcomment %}
    </tr>
    {% endfor %}
</ul>

{% endblock %}